.sizeGia {
    width: 100%;
    height: auto;
}

.center {
    margin: auto;
    width: 90%;
    padding: 70px;
}

.title {
    text-align: center;
}

.listWeb {
    margin: 50px  auto;
    max-width: 100%;
    height: 900px;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 540px 540px 540px;
    grid-template-rows: 350px 350px 350px;
    grid-row-gap: 150px;
}

.item {
    padding: 10px;
    text-align: center;
}

.item img {
    border-radius: 3px;
    border-style: solid;
    height: 80%;
    width: 80%;

}